{{template "base" .}}
{{define "client"}}

    {{if .Client}} 
<h3 class="uk-card-title">User info</h3>
    

        <p>Role: {{ .Client.Role}}</p>
        <p class="text-end"><small>IP-address: {{ .Client.Ip}}</small></p>

    {{end}}
{{end}}