{{template "base" .}}
{{define "title"}}Home - VPS server by Golang{{end}}
{{ .Client.role}}
{{define "main"}}
<div class="uk-flex">
    <div>
        <h2 class="head-1 uk-text-uppercase">Golang пэт-проект на VPS</h2>
    </div>
    <div class="uk-margin-left">
{{template "menu" .}}
    </div>
</div>


<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Quote</h3>
    <p>There's nothing to see here yet!</p>
<p class="fs-2">It was the flexibility, how easy it was to use, and the really cool concept behind Go....</p>
<p class="text-end"><small>— Jaime Enrique Garcia Lopez, Senior Software Development Manager at Capital One</small></p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-primary uk-card-body d-shadow-20">
                <h3 class="uk-card-title">Пример скачивания файла</h3>
<p class="fs-2"><a href="/download/?file=CLEAN_SKIN_presentation.jpg" class="uk-button uk-button-text" download>скачать jpg файл</a></p>
<p class="fs-2"><a href="/download/?file=tmp.txt" class="uk-button uk-button-text" target="_blank" download>скачать txt файл</a></p>
<p class="text-end"><small><a href="/download?file=NO_exist_file.jpg" class="uk-button uk-button-text" download>несуществующий файл</a></small></p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-secondary uk-card-body">
                <h3 class="uk-card-title">Блог</h3>
<p class="fs-2"><a href="/blog" class="uk-button uk-button-text">Смотреть записи</a></p>
<p class="text-end"><small>MySQL posts</small></p>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            {{template "client" .}}
        </div>
    </div>
</div>

{{end}}