{{template "base" .}}
{{define "title"}}PWD secure - VPS server by Golang{{end}}
{{ .Client.role}}
{{define "main"}}
<div class="uk-padding-small uk-background-default uk-box-shadow-large" uk-sticky="end: !.uk-margin-medium-top; offset: 0">
    <div class="uk-flex">
        <div class="uk-margin-top">
            <h2 class="head-1 uk-text-uppercase">Golang пэт-проект на VPS</h2>
        </div>
        <div class="uk-margin-left uk-margin-top">
            {{template "menu" .}}
        </div>
    </div>
</div>



<div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" id="loginPano" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3 class="uk-card-title">Secure part</h3>
<p class="fs-2">«Вместо того, чтобы бояться кибератак или игнорировать их, обеспечьте свою киберустойчивость к ним». </p>
<p class="text-end"><small>― Стефан Наппо</small></p>
        </div>
    </div>
    <div id="formWrapper">
        <div class="uk-card uk-card-primary uk-card-body d-shadow-20">
            {{template "forma" .}}
        </div>
    </div>




</div>
<div id="listWrapper" class="enable disabled">

        <div class="uk-child-width-1@m uk-grid-small" uk-grid>
            <div class="uk-width-1-1 uk-margin-top">
                <div class="uk-card uk-card-secondary uk-card-body">
                    <div class="uk-child-width-1-2@m uk-flex">
                        <div>
                            <h2 class="uk-card-title">List of system</h2>
                        </div>
                        <div class="uk-text-right">
                            <button class="uk-button uk-width-1-5@m uk-button-default uk-animation-scale-down uk-animation-toggle"
                                    type="button" id="openModalBtn">Добавить
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        <div>

            <table class="uk-table uk-table-striped " id="listTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Sytem</th>
                    <th>Pwd</th>
                </tr>
                </thead>
                <tbody id="startFill">

                </tbody>
            </table>

        </div>
    </div>
</div>
{{template "modal" .}}
{{end}}