{{template "base" .}}
{{define "modal"}}
<!-- This is the modal -->
<div id="addSystemBtn"></div>
<div id="systemModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">System: <span class="system-name" id="modalSystemName"></span></h2>

        <div class="uk-alert-warning" uk-alert>
            <div class="uk-card uk-card-hover">
            <input type="password" id="modalPwdText" class="uk-input" placeholder="disabled" aria-label="disabled" value="disabled" disabled>
            </div>
        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-danger" type="button" id="btnCopy">Copy PWD</button>
            <button class="uk-button uk-button-primary uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>

<div id="uploadModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-background-default">
        <h2 class="uk-modal-title text-white">Select file</h2>
        <div class="uk-width-1">
            <form action="/upload/" method="post" enctype="multipart/form-data">
                <fieldset class="uk-fieldset">
                    <div class="js-upload uk-width-1-1" uk-form-custom>
                        <input type="file" name="inputFile" id="inputFile" multiple>
                        <button class="uk-button uk-button-default uk-button-large uk-width-1-1" type="button" tabindex="-1">Select</button>
                    </div>
                </fieldset>


        </div>
        <p class="uk-text-right">
          <button class="uk-button uk-button-primary" type="submit" id="uploadFileBtn">Upload</button>
            </form>
            <button class="uk-button uk-button-secondary uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>
{{end}}