{{template "base" .}}
{{define "modal"}}
<!-- This is the modal -->
<div id="addSystemBtn"></div>
<div id="systemModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">System: <span class="system-name" id="modalSystemName"></span></h2>

        <div class="uk-alert-warning" uk-alert>
            <div class="uk-card uk-card-hover">
            <input type="password" id="modalPwdText" class="uk-input" placeholder="disabled" aria-label="disabled" value="disabled" disabled>
            </div>
        </div>
        <p class="uk-text-right">
            <button class="uk-button uk-button-danger" type="button" id="btnCopy">Copy PWD</button>
            <button class="uk-button uk-button-primary uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>

<div id="addSystemModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-background-primary">
        <h2 class="uk-modal-title text-white">Select file</h2>
        <div class="uk-width-1">
            <form>
                <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <input class="uk-width-1 uk-input uk-form-width-medium uk-form-large" placeholder="System name" aria-label="System name" type="file" id="inputFile">
                </div>
                    <div class="js-upload" uk-form-custom>
                        <input type="file" multiple>
                        <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                    </div>
                </fieldset>
            </form>

        </div>
        <p class="uk-text-right">
            <!-- <button class="uk-button uk-button-secondary" type="button" id="uploadFileBtn">Upload</button> -->
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>
{{end}}