html, body, h1, h2, h3, h4, h5, h6{font-family: 'JetBrains Mono', monospace;}
.head-1 {
	font-weight: 700;
}
.d-shadow-9 {
	box-shadow: 0 5px 15px rgb(0 0 0 / 9%);
}
.d-shadow-20 {
	box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}
.d-shadow-40 {
	box-shadow: 0 5px 15px rgb(0 0 0 / 40%);
}
.uk-button.uk-button-default
{
	font-family: 'JetBrains Mono', monospace;
	font-weight: 700;
}
.level-1::before
{
	color: blue;
	content: "├─";
	font-family: 'JetBrains Mono', monospace;
}

.disabled {
	display: none;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.5s linear;
}
.enable{
	visibility: visible;
	opacity: 1;
}